[2013-03-12 20:37] WyriHaximus opened #1 "Compile shell"
Shell scans for templates and compiles them with Twig.

[2013-03-13 21:13] #1 closed, assigned to nobody

[2013-10-28 17:50] WyriHaximus opened #2 "Add FoC/travis to streamline testing"

[2013-10-29 15:39] WyriHaximus opened #3 "Documentation"
Currently there is only a little bit of documentation. Expand it and also clean up the readme.

[2013-11-12 20:42] WyriHaximus opened #4 "Filter documentation"
Documentate all the different filters made available through by this plugin.

[2013-11-15 20:48] WyriHaximus opened #5 "View Documentation"
Basic documentation how to setup and use the view.

[2013-11-16 19:58] WyriHaximus opened #6 "Events documentation"
Describe how users can hook their own events to add extra extensions to Twig.

[2014-08-22 18:14] DavidOliver opened #12 "Using Twital"
Would it be possible to use [Twital](https://github.com/goetas/twital) with Cake + TwigView?

If so, are you able to explain how I should go about it?

Many thanks.

[2015-02-14 23:39] #2 closed

[2015-11-13 21:45] y4nn0ff opened #14 "How does it work on cakephp3 ?"
Hi,

Here what i did :
Install via twigview via composer
[code]

Load plugin in boostrap:
[code]

Initialise $viewClass :
[code]

First little issue, these lines stop working
[code]

But the real probleme is assign variable and use it in template, I did:
[code]

[code]

And the render of variable is `{{ title }}` instead of `test twig` when i load the page on a browser.

Where is the mistake ? cou

[2015-11-13 22:02] WyriHaximus commented on #14
Change your template file extension to `.tpl` instead of `.ctp`. Also you can't mix cake's template syntaxt and twig's

[2015-11-14 09:14] y4nn0ff commented on #14
Thanks, it works.

But what is the twig syntax for this :
[code]

And what is the best practice to use angular and twig without conflict (because curly bracket) with you module ?

Regards ;)

[2015-11-14 11:47] WyriHaximus opened #15 "Make it possible to inject configuration options into the twig environment creation"

[2015-11-14 11:47] WyriHaximus commented on #14
The first question is easy:

[code]

Give me a couple of days to come back with you on the second question as it will require a new feature #15

[2015-11-15 15:36] y4nn0ff commented on #14
Good, thanks ;)

is there a documention anywhere for this ? (html,flash,_view) to avoid these questions ;)

Good luck to develop the #15

[2015-11-15 15:52] WyriHaximus commented on #14
Yes there is: https://github.com/WyriHaximus/TwigView#helpers

[2015-11-15 21:22] y4nn0ff commented on #14
there are something weird :s

{{ html.* }}, {{ flash.* }}, en {{ _view.fetch('css') }} write nothing in the DOM when it's rendered in a browser. And {{ _view.fetch('content') }} display the html code in browser.

[code]
I must miss something...

[2015-11-15 21:43] WyriHaximus commented on #14
Take a look at [`dump`](http://twig.sensiolabs.org/doc/functions/dump.html) (the twig site in general is very useful). (Using x.* also won't do anything, at least not what you want.) Also all output is encoded by default for security reasons. Both [`raw`](http://twig.sensiolabs.org/doc/filters/raw.html) and [`autoescape`](http://twig.sensiolabs.org/doc/tags/autoescape.html) can help you with this.

[2015-12-14 15:09] visonforcoding commented on #14
Could I use Twig layout syntax , for example , extend include  block . And how can i config the twig compile dir  . can you give more information about it .Thanks ,wait for your reply

[2015-12-16 16:01] #14 closed

[2015-12-16 20:43] WyriHaximus commented on #14
Tackled this in: https://github.com/WyriHaximus/TwigView/releases/tag/3.2.0

[2015-12-16 21:06] WyriHaximus commented on #15
Done in 3.2.0

[2015-12-16 21:06] #15 closed

[2016-02-15 09:01] ozee31 opened #16 "Problem with layout"
Hi,

I have a problem with Layout

If use default.ctp with a twig view it's works but if i use a default layout with twig don't work (don't show de view, just show layout)

## First test
[code]
Show just "Hi"

## Second test
[code]
Show just "Hi"

### Other test
[code]
Show just "Hi"

Thank you for your help

[2016-02-15 14:26] #12 closed

[2016-02-15 17:04] WyriHaximus commented on #16
Normally that would work, but due to the nature how cake handles it views and layouts seperately. It first renders the view and then places the result into the layout when rendering it. There are two ways of handling this:

# A
In you layout `.tpl` place the following line to get the result from your view:

[code]

# B

Make sure your `Layout/default.tpl` only consits of:

[code]
Adjusting your se

[2016-02-16 09:27] ozee31 commented on #16
Thank you, it's work

[2016-02-16 09:27] #16 closed

[2016-02-16 09:45] WyriHaximus commented on #16
Awesome :+1:

[2016-02-16 12:20] ozee31 opened #17 "Testing problem"
Hi,

I have a problem when i test my controllers. All functions are unrecognized ("__()", "explode()" ...).
In my browser it's works.

In vendor/twig/twig/lib/Twig/Environment.php i have in `$this->extensions`
"core, escaper, optimizer, string_loader, debug, i18n ..."
But in test i have just :
"core, escaper and optimizer"

The class WyriHaximus\TwigView\Event\ExtensionsListener are not called by

[2016-02-17 09:06] WyriHaximus commented on #17
Be sure to include the bootstraps file when testing. Are you loading the plugin when you run your tests the way you do when you run it through the browser?

[2016-02-17 09:45] ozee31 commented on #17
Ok,
[code]
Doesn't work in `config/bootstrap.php` or `tests/bootrap.php` during test.

I added this code in `setup` function and it's work.

[2016-02-17 09:46] #17 closed

[2016-02-17 10:57] WyriHaximus commented on #17
Great, might be because cake resets the state of the system between tests. Glad you solved it :+1:

[2016-03-02 09:14] ozee31 opened #19 "Problem with extend common view"
Hi,

I have a problem with Extending Views.

I have a layout default.tpl
[code]

In Common have a view content_sidebar.tpl
[code]

Extends this view in Users/view.tpl doesn't works

## First test
[code]
Result :
A template that extends another one cannot have a body in "/var/www/html/app/src/Template/Users/view.tpl" at line 6.

## Second test
[code]
Result :
Display just <p>Plop</p>, no display Co

[2016-03-02 09:25] pguso opened #20 "Step by Step Example"
Hello i am completly new to cakephp. Could you provide me an example how to get the view rendered in my controller?

I added these lines to my bootstrap file

[code]

[2016-03-02 11:16] ozee31 commented on #20
## Change AppView
[code]

## Load Helpers
[code]

## Replace layout default.ctp by default.tpl
Layout exemple
[code]

## Create a view
in Template/Controller/action.tpl
[code]

[2016-03-02 12:31] pguso commented on #20
Thank you very much!

[2016-03-03 10:09] WyriHaximus commented on #19
Hey this sounds more of a twig issue, take a look at this http://stackoverflow.com/questions/19040803/symfony-twig-cant-extend-a-template-when-displaying-a-grid-with-apydatagridbund and this http://twig.sensiolabs.org/doc/tags/extends.html

[2016-03-03 10:09] WyriHaximus commented on #20
@pguso does this solve your issue?

@ozee31 Thank you for helping out :+1:

[2016-03-03 10:37] ozee31 commented on #19
Ok think you

[2016-03-03 10:37] #19 closed

[2016-03-03 10:42] WyriHaximus commented on #19
Let me know how it works out. Planning to add information like this to the readme/docs soon, your input is appreciated :+1:

[2016-03-03 11:05] ozee31 commented on #19
It's a good idea

[2016-04-07 02:35] tolawho commented on #14
@WyriHaximus I generate a link like: /users/delete/id but it not working
Example:
In ctp template:
`<?= $this->Form->postLink(__('Delete'), ['action' => 'delete', $user->id], ['confirm' => __('Are you sure you want to delete # {0}?', $user->id)]) ?>`

In twig template:
`{{ Form.postLink(__('Delete'),{'action' : 'delete', user.id },{'confirm' : __('Are you sure you want to delete # {0}?', user.id),

[2016-04-07 05:55] WyriHaximus commented on #14
Try:
[code]

[2016-04-07 07:00] ozee31 commented on #14
Or use concatenation :

[code]

[2016-04-07 10:07] WyriHaximus commented on #14
@ozee31 thank you, I wasn't aware of that. I've created a new PR (#22) to add that to the documentation :+1: . Merging it tonight unless someone has feedback

[2016-07-08 02:30] estvmachine commented on #20
This is best then the read.me xd

[2016-07-08 03:02] estvmachine opened #24 "Dont find the index.tlp"
Hi i follow your instructions and delete an index.ctp and replace for an index.tlp but dont recognize, what i have to do?

Do you have a project example in github maybe?

![image](https://cloud.githubusercontent.com/assets/2062668/16676272/bff816a0-4496-11e6-8104-3115d671ef8d.png)

[2016-07-08 05:15] htstudios commented on #20
Could this be added as a wiki page to this repo or as an .md file (even better)?

[2016-07-08 05:50] WyriHaximus commented on #24
Make sure it is `.tpl` and not `.tlp`

[2016-07-08 05:52] WyriHaximus commented on #20
All add it as an .md later today 👍

[2016-07-08 07:06] WyriHaximus commented on #20
@estvmachine @htstudios See #25, comments are welcome, will merge tonight :+1:

[2016-07-13 15:06] vonboth opened #27 "Using Html.addCrumb generates an error Object of class Cake\View\Helper\HtmlHelper could not be converted to string"
When Using hte addCrumb method with the HtmlHelper like so:
`{{ Html.addCrumb('Some Crumb') }}`
one get's the error

`Object of class Cake\View\Helper\HtmlHelper could not be converted to string [ROOT/vendor/twig/twig/lib/Twig/Environment.php(403) : eval()'d code, line 25]`

[2016-07-13 17:55] WyriHaximus commented on #27
Yeah that is correct, ran into this the other day as well and working on a fix for it.

[2016-07-14 06:47] vonboth commented on #27
Ok, I found out some more regarding this issue.
The error comes from the function 'twig_escape_filter' in twig/twig/lib/Twig/Extension/Core.php
The problem seems to be that Twig wants to escape the return value of 'addCrumb' but it returns an Object while the filter expects a string to be passed in (or at least an object with a __toString() method)

So either Cake (add __toString) or Twig (catch a

[2016-07-20 21:03] HavokInspiration opened #29 "Accessing Helpers"
While trying the plugin, I found out I could not use the Helpers name directly as specified in the doc :

[code]

I had to call them as follows :

[code]

After digging a bit, I found out that I had to change the ``TwigView::generateHelperList()`` method to the following implementation for it to work :

[code]

I'm working with CakePHP 3.3-beta2 on a PHP 5.5.30 install.
I'm loading my Helpers in t

[2016-07-21 08:12] WyriHaximus commented on #29
Yes please submit a pull request, that will also test it against different CakePHP versions and PHP versions :+1:

[2016-07-21 12:08] HavokInspiration commented on #29
I opened PR #31

[2016-07-21 12:08] #29 closed

[2016-08-18 06:36] auburus opened #34 "Smarty filetype extension"
It might be an odd question, but why are you using `.tpl` file extension instead of `.twig`? As far I can tell, `.tpl` is for the Smarty template syntax.

Thanks, and sorry if that's an stupid question.

[2016-08-18 08:01] WyriHaximus commented on #34
That is more heritage than conscious decision. But you should be able to use the .twig extension since 3.2.2: https://github.com/WyriHaximus/TwigView/commit/c270b743f238a0955e1b14af814f660eca0f12ad

P.S. There are no stupid questions

[2016-08-18 10:17] inoas commented on #34
Could the docs be updated to recommend twig? It might also help some editors @ syntax highlightning?

[2016-08-18 10:20] WyriHaximus commented on #34
I don't see why not, would you mind making a PR for that? :smile:

[2016-08-18 10:44] inoas commented on #34
Ref: https://github.com/WyriHaximus/TwigView/pull/36
Ref: https://github.com/WyriHaximus/TwigView/pull/35

This issue can then be closed, my guess.

p.s.: @WyriHaximus I did not check the loading order of .twig vs .tpl - I assumed it checks .twig first. I did the docs update quickly through GH and find/replace.

[2016-08-18 10:47] auburus commented on #34
Extra fast! Thank you very much to the both of you :)

(And now I have to rename all the files... 😂😂😂).

[2016-08-18 10:52] inoas commented on #34
@WyriHaximus btw, which filename extensions is TwigView generating via bake?

[2016-08-18 12:45] WyriHaximus commented on #34
@inoas IIRC it checks .tpl first.

@inoas It creates `.twig` files: https://github.com/WyriHaximus/TwigView/blob/master/src/Shell/Task/TwigTemplateTask.php#L49

[2016-08-18 12:49] inoas commented on #34
Could you do the PR to check .twig first? It would probably not be entirely BC however (the likelihood of issues is very small though)

[2016-08-18 12:53] WyriHaximus commented on #34
Don't have time to go over everything tonight as I'm attending AmsterdamPHP. It should be as easy and switching over two lines in the twig view and changing one to .twig. As long as it behaves the same and tests don't fail I'm happy, honestly I've been considering of doing this :+1: .

[2016-08-18 12:58] inoas commented on #34
1. I did the changes via Github. Ref: https://github.com/WyriHaximus/TwigView/pull/37 - please not that I changed the order. I hope that's what you imagined.
2. Can you think of a better exception message than this `new \Exception('You\'re not supposed to get here');`
3. OT: Are you presenting anything related to CakePHP ;)?

[2016-08-18 13:05] inoas opened #38 "Fetch extension from one central source"
### Issue
The extension is being defined in a configurable and downgrading manner in the View but the bake tool does use a static variable.

## Reference
This: https://github.com/WyriHaximus/TwigView/blob/master/src/Shell/Task/TwigTemplateTask.php#L49
VS this: https://github.com/WyriHaximus/TwigView/blob/master/src/View/TwigView.php#L36-L52

### Solutions
- Use `Configure::write/read()`
- Referenc

[2016-08-18 13:06] inoas commented on #34
@auburus I think you can close this issue now.

[2016-08-18 13:07] inoas commented on #24
@estvmachine I think you can close this issue now. Also the recommended extension is .twig now. That should also make such typos less likely ;)

[2016-08-18 13:07] inoas commented on #20
This can possibly be closed @pguso.

[2016-08-20 16:52] #34 closed

[2016-10-18 14:49] ozee31 opened #43 "Create release for a fix"
Hi,

Can you make a release with the differents fix like: https://github.com/WyriHaximus/TwigView/commit/c786956cd52a0f440efa8acdfb60fda0275faaa3 ?

[2016-10-18 15:28] WyriHaximus commented on #43
Yes they will be release, planning on releasing `4.0` due to some BC changes in the code since the last release. And want to add a few extra's for `4.0`

[2016-10-18 15:29] HavokInspiration commented on #43
In the meantime, you can pin the version in composer to dev-master, e.g. in composer.json :

[code]

[2016-10-19 07:09] ozee31 commented on #43
Ok think you

[2016-10-19 07:09] #43 closed

[2016-10-22 23:02] WyriHaximus commented on #43
FYI I've added some things I want to add to the 4.0.0 mile stone: https://github.com/WyriHaximus/TwigView/milestone/2

[2016-10-27 13:45] Oxicode commented on #24
+1 .twig

[2016-11-05 11:31] WyriHaximus commented on #43
Just released 4.0 and 3.3.1 with this and another fix

[2017-03-10 11:58] edggids opened #49 "Not setting options for {% element %} throws error"
Hi,

if you don't set options for element it will fail as it passes null to $compiler->subcompile()

in Lib\Twig\Node\Element.php
line: 65

[code]

I think it should check for $options not $data.

Thanks.

[2017-03-10 13:01] WyriHaximus commented on #49
Good point 👍 , could you make a PR, don't have time to test and fix it right now

[2017-08-21 16:41] cewi opened #52 "replace Cake\Utility\String"
Hi,
on cake 3.4.13 I get errors when using some filters. For example I tried to uses the 'tail'-filter and got:

Cake\Utility\String is AFAIK replaced by Cake\Utility\Text ?

BTW: Thanks for this very helpful plugin!

[2017-08-21 20:06] inoas commented on #52
Taking a look at
* https://github.com/WyriHaximus/TwigView/blob/master/src/Lib/Twig/Extension/Strings.php
* and https://book.cakephp.org/3.0/en/core-libraries/text.html
* and https://github.com/cakephp/cakephp/blob/master/src/Utility/String.php (fallback for PHP < 7.0.0)
* and https://book.cakephp.org/2.0/en/core-utility-libraries/string.html

Seems you are right and this will be noticed only once

[2017-08-21 20:19] WyriHaximus commented on #52
@cewi thanks for reporting 👍 ! Kind of surprised I haven't ran into this myself 🤐 . I'll release a new version tomorrow with @inoas PR (#53) in it

[2017-08-21 20:44] cewi commented on #52
@WyriHaximus glad to hear and thanks again for your precious work. Looking forward to the next release.
@inoas You're right. I' m on php 7.1 Thanks for fixing!

[2017-08-21 20:44] #52 closed

[2017-08-22 07:53] WyriHaximus commented on #52
FYI `4.0.5` with a fix for this has been released

[2017-08-30 20:02] inoas opened #56 "wyrihaximus/twig-view 5.0: Upgrade twig/twig 2.0"
`$ composer outdated` shows me

	aptoma/twig-markdown                  2.0.0   3.0.0   Twig extension to work with Markdown content
	phpdocumentor/reflection-docblock     3.2.3   4.1.1   With this component, a library can provide support for annotations via DocBlocks or otherwise r...
	twig/twig                             v1.34.4 v2.4.3  Twig, the flexible, fast, and secure template language for

[2017-08-30 20:31] WyriHaximus commented on #56
What I'de prefer to see with `5.0` is that TwigView is the core with just the core basics needed to run and any extra's in different packages. So if you want to look into that that would be greatly appreciated 👍. Currently focusing on getting tests in for everything that wasn't previously tested, wanted to do that before looking into `2.0`, I do have something local, could commit and push that but

[2017-08-31 00:01] inoas commented on #56
Understand the tests so that there is a smooth ride upgrading by just fixing the tests and knowing where things break @ deprecation...

I could take a look into upgrading all things to 2.x, 2.x namespaces, etc. but I don't feel comfortable breaking up the core into a micro + modules just yet; also I, myself, am only using parts of TwigView because I have to build my documents and document cells fr

[2017-08-31 05:48] WyriHaximus commented on #56
No worries about that, just focus on the core and ignore the rest while you work on that. I'll chop it up in different packages :+1: . Also I just pushed my work in the [twig-2](https://github.com/WyriHaximus/TwigView/tree/twig-2) branch, but it ain't much yet :(.

[2017-09-02 19:57] inoas commented on #56
These two extensions are not maintained towards Twig 2.x
* "ajgl/breakpoint-twig-extension": "^0.3.0",
* "jasny/twig-extensions": "^1.0",

[2017-09-05 06:02] inoas commented on #56
Closing as PR is open https://github.com/WyriHaximus/TwigView/pull/58

[2017-09-05 06:02] #56 closed

[2017-09-11 13:42] ozee31 opened #59 "Specialchar don't displayed with helper"
I try to display a specialchar with a helper but doesn't work :

[code]

[2017-09-11 13:55] inoas commented on #59
Without reading the docs, to me it should display `&laquo;`
Try inserting the real utf8-symbol instead of the html-entity.

[2017-09-15 14:00] Orken opened #60 "Warning with cakephp3.5"
Hello,

When i run TwigView on a CakePhp 3.5, with this code,
[code]

 i got those warnings :

[code]

[2017-09-15 14:02] inoas commented on #60
Could you also include
`/tmp/cache/twigView/93/9354f08c1f47e54248409d9f11b74ab4e9f9d332c0df7ef5d38a4a486cb660cb.php`

[2017-09-15 14:37] Orken commented on #60
You'll find it attached here.

[3d5e0211dc28c59bab413b8dac0ddbe4bc9521105d145d749578bb453c993008.zip](https://github.com/WyriHaximus/TwigView/files/1306649/3d5e0211dc28c59bab413b8dac0ddbe4bc9521105d145d749578bb453c993008.zip)

[2017-09-18 08:12] Orken commented on #60
Sorry, I have included the wrong file, here's the good one.

[9354f08c1f47e54248409d9f11b74ab4e9f9d332c0df7ef5d38a4a486cb660cb.zip](https://github.com/WyriHaximus/TwigView/files/1310025/9354f08c1f47e54248409d9f11b74ab4e9f9d332c0df7ef5d38a4a486cb660cb.zip)

[2017-09-19 10:55] robertpustulka commented on #60
Some methods return `$this` since 3.5.

I've found a workaround for this, use `none` filter:

[code]

[2017-09-19 12:29] inoas commented on #60
What about
[code]

[2017-09-19 13:08] robertpustulka commented on #60
@inoas have you checked if your examples work, or maybe you are just guessing?

[2017-09-19 14:14] inoas commented on #60
Half guessing. I do only use a few parts of TwigView in my projects and I am not using `_view.*`

Trying:
{% _view.assign('title', __("I'm title")) %} {# execute setter #} <= Not a valid tag
{{ _view.get('title') }} {# just echo #} <= not an existing property
{{ _view.title }} {# this may work as well, try-and-see #} <= not an existing property

p.s.: I could not even find the docs for `none` http

[2017-09-19 14:17] robertpustulka commented on #60
Ok, so please don't mislead people :)

`none` filter is provided by this plugin.

[2017-09-19 14:19] inoas commented on #60
Ok, so please suggest to use dirty hacks :)
The problem here is that CakePHPs minor release is non-BC.

[2017-09-19 14:25] robertpustulka commented on #60
As I said it is a *workaround* which actually **works**.

[2017-09-19 14:30] inoas commented on #60
It does not.

You still need `{{ _view.fetch('title') }}` as `|none` will stop returning `$this` but not output the title as before as CakePHP 3.5 broke that feature non-BC.

[2017-09-19 14:31] robertpustulka commented on #60
I'll ask again: have you tried this or still guessing?

[2017-09-19 14:32] inoas commented on #60
Have you, I have.

[2017-09-19 14:35] robertpustulka commented on #60
I use this workaround successfilly in my code.

Are we talking about the same?
[code]

[2017-09-19 14:44] inoas commented on #60
Yes that will work, despite being a hack (running `echo return`, looking at `WyriHaximus\TwigView\Lib\Twig\Extension\Strings`). Without the fetch call it won't work.

Can you see a better way to get around the hack required because of assign/set returning `$this` in CakePHP 3.5? The only way I found is creating quite a bunch of Twig-Tags as far as I understand: https://twig.symfony.com/doc/2.x/adv

[2017-09-19 14:52] markstory commented on #60
We should probably revert the changes in CakePHP then.

[2017-09-19 14:58] inoas commented on #60
Well 3.5 has been out for some time now and that could have impacts /too/ so my suggestion (disclaimer @robertpustulka I have tried it, right now ;-) would be, to overwrite `assign()` and `__set()` in `class TwigView` to not return anything?

[code]

[2017-09-19 14:59] markstory commented on #60
@inoas That is another option as well. I can put together a pull request for that if it would be helpful.

[2017-09-19 15:02] inoas commented on #60
I'll wait for @WyriHaximus to chime in and if he concurs I will do that and hopefully also add working unit tests.

[2017-09-19 15:06] robertpustulka commented on #60
@inoas This could work :+1:

[2017-09-19 15:13] inoas commented on #60
A quick copy&adapt. I am not sure we ll need/want all of them (consistency? would you set the template path within a twig-template, ever, etc)?

[code]

**Question:** I assume about the same amount of functions that should go inside TwigView would otherwise need to become Twig Tags for TwigView + CakePHP 3.5 to run without changes on Templates?

Then there is also `__set() which I am not sure if T

[2017-09-19 17:08] markstory commented on #60
Another option I thought of is to implement `__toString()` on View, and return `''`. This would solve the compatibility issue for both this and other plugins.

[2017-09-19 17:33] inoas commented on #60
I am going to give this a try before hacking other ways.

[2017-09-19 21:12] inoas commented on #60
I gave it a try locally (in my SimpleTwigView ... but it should be the same).
Following **works without being required to change any twig template code**:

### Within your `class TwigView`

[code]

### Tested with

[code]

@WyriHaximus is this approach good with you?

Would any of you want to have any further setter methods to return their values for BC reasons?

[2017-09-19 21:30] WyriHaximus commented on #60
@inoas I'll test it and dive into this issue tomorrow :+1:

[2017-09-19 23:54] markstory commented on #60
@inoas I was proposing to implement __toString() on CakePHP's view class.

[2017-09-20 08:27] dereuromark commented on #60
@inoas You are dead-wrong. This is not a BC break from the framework perspective.
"Void to sth" is always fully BC.
If the plugin and Twig used the return value of void methods and by accident just worked so far, that is the plugin's problem, not CakePHP core's. Please understand this difference.

That said, the solution now provided seems to fix this in some way. So seems to be all good with the

[2017-09-20 08:34] robertpustulka commented on #60
Ideally a "native" support for Cake blocks would be great.

Something like:
[code]
[code]
[code]

[2017-09-20 11:12] inoas commented on #60
@markstory I am not sure that that is entirely good:

Setter-style-methods (like assign here) that returned strings before would throw notices/warnings as of now. With the `global` change in Cake\View\View itself, these warnings would not longer occur and plugin authors would possibly not know that things broke/changed.

@dereuromark not sure if I am the one who is dead wrong, this time ;-):

1. I

[2017-09-20 11:20] robertpustulka commented on #60
The change is from returning `void` to `$this` ([see the code](https://github.com/cakephp/cakephp/blob/3.4.13/src/View/View.php#L774)).

I suspect that you expected that `assign()` would have returned a block content. The behavior has not changed, only the return value has - from nothing to something.

Please, again, get your facts straight before you start telling people that they are wrong.

Yes

[2017-09-20 11:36] inoas commented on #60
As `assign()` never returned something despite that the `TwigView` docs made me believe it would, implementing `__toString()` in CakePHP 3.5 like suggested will fix this problem.

I can take care and implement the tags for `start, append, prepend, assign, fetch, reset, end` (tags do not (necessarily) echo) on top of the next major TwigView release.

[2017-09-20 12:51] dereuromark commented on #60
@inoas But you complained about 3.5 in particular. But the only change there was https://github.com/cakephp/cakephp/pull/11134 which is BC.
The change regarding assign() seems to be in a very early 3.x version, though. So quite some years ago.

[2017-09-20 14:24] inoas opened #62 "TwigView 5.x Implement Tags for View Template Block Builder"
- Following methods should be callable from Twig via {% _view.METHOD %} instead of {{ _view.METHOD }}.
- Calling and echoing should be marked as deprecated for TwigView 6.x

[code]

[2017-09-20 14:26] inoas commented on #60
@Orken #61 will fix your problem once merged and tagged.

This is the followup issue to track the correct implementation in future https://github.com/WyriHaximus/TwigView/issues/62 for all those interested

[2017-09-20 15:05] WyriHaximus commented on #60
4.0.6 has been tagged with a fix for this :+1:

[2017-09-20 15:05] #60 closed

[2017-10-05 10:15] inoas commented on #60
Ref: https://github.com/cakephp/cakephp/issues/11276#issue-263070139

[2017-10-19 21:11] ADmad commented on #49
Has this been already fixed?

https://github.com/WyriHaximus/TwigView/blob/5da1061417bfbcf00482cf5a13498f05fcfd2419/src/Lib/Twig/Node/Element.php#L68-L72

[2017-10-19 21:13] ADmad commented on #27
This should be fixed by #61

[2017-10-26 12:18] ADmad opened #72 "Please make a new release for 4.x branch :)"

[2017-10-26 12:29] WyriHaximus commented on #72
yes! Was kinda waiting for your work to be (nearly) done in cake/bake before tagging it. But I'll tag it later today :tada:

[2017-10-26 12:31] ADmad commented on #72
I have finished creating all twig templates for bake :). If you have time please take a look and suggest any improvements/fixes as you see fit.

[2017-10-26 15:31] WyriHaximus commented on #72
Done, [`4.1.0`](https://github.com/WyriHaximus/TwigView/releases/tag/4.1.0) has been tagged :tada:

[2017-10-26 15:31] #72 closed

[2017-10-26 20:37] inoas opened #73 "ajgl/breakpoint-twig-extension"
https://github.com/ajgarlag/AjglBreakpointTwigExtension/issues/4#issuecomment-339581016 is available as a dev branch now.

[code]

cant fix it for the next 2 weeks - afterwards if you did not take care I can try and then pls ping me.

[2017-11-24 17:33] inoas opened #76 "Consider removing env() and config() or making them not load by default"
Reason: Use twig to not strictly separate concerns. Like layout authors should not be able to read env or core configuration.

[2017-11-30 18:59] WyriHaximus commented on #76
For 4.x they will be loaded by default, with a flag to turn them off. For 5.x that will be reversed. I'll implement this shortly

[2017-11-30 18:59] #76 closed

[2017-11-30 20:22] inoas commented on #76
That's great!

[2017-12-01 06:42] ADmad commented on #76
@WyriHaximus Sounds good. Though perhaps in 5.x `env` should be changed to a function instead of a filter.

[2017-12-20 07:03] vonboth opened #79 "Call to a member function loadTemplate() on null"
Just upgraded to Cake 3.5.8 and TwigView 4.2.6

My App breaks with 'Call to a member function loadTemplate() on null'

Error in: ROOT/vendor/wyrihaximus/twig-view/src/View/TwigView.php, line 188

For some reason the initialize()-Funktion in TwigView is not called.

Is this a CakePHP issue?

Using versions: 3.5.6 and 4.0.2 works just fine

I will investigate and post a solution if I find one ;-)

[2017-12-20 07:08] vonboth commented on #79
My bad ...
Missed parent::initialize() in my AppView class
Sorry!!

[2017-12-20 07:08] #79 closed

[2017-12-20 07:41] WyriHaximus commented on #79
No problem, glad to hear you solved your issue :+1:

[2018-01-12 13:57] MokniSofien opened #82 "loadTemplate() on null"
return $this->render('/Sofien/sofien', array('name' => $sof));

i get this error : Call to a member function loadTemplate() on null

how to fix ?

[2018-01-13 16:30] WyriHaximus commented on #82
Hey @MokniSofien have you tried updating to the latest version? A recent change in CakePHP can cause that error but a fix has been released for that.

[2018-03-07 13:44] HavokInspiration commented on #27
The `do` method on Twig should be used instead :

[code]

Refs in twig doc : https://twig.symfony.com/doc/1.x/tags/do.html

[2018-03-24 13:27] Labelsuisse commented on #82
Hey,
I have a same problem.
Cakephp v3.5.1
Twig-view v4.3

Thank's for your support

[2018-03-27 16:19] Labelsuisse commented on #82
Hey @WyriHaximus,

I solved my problem. I had elect to call the parent in the initialization of the AppView.

Sorry for the inconvenience and thank you

[2018-04-12 12:27] clementcrownrise opened #85 "Issue with Twig when trying to bake in cakephp 3.x"
c:\wamp\www\landmarkcurrent\bin>cake bake all faculties
Bake All
---------------------------------------------------------------
One moment while associations are detected.
Exception: Unknown "as_array" filter. in [C:\wamp\www\landmarkcurrent\vendor\cakephp\bake\src\Template\Bake\Model\table.twig, line 50]
2018-04-12 12:22:52 Error: [Twig_Error_Syntax] Unknown "as_array" filter. in C:\wamp\www\lan

[2018-04-13 05:43] #82 closed

[2018-04-13 05:46] WyriHaximus commented on #82
:+1:

[2018-04-13 05:54] WyriHaximus commented on #85
Hey @clementcrownrise this plugin doesn't ship with an `as_array`. This seems related to https://github.com/cakephp/bake/issues/391 which should has been resolved with a documentation update at https://github.com/cakephp/docs/pull/5636 and available at https://book.cakephp.org/3.0/en/bake.html#installation

Does that resolve your issue?

[2018-05-30 10:29] nojimage opened #87 "Name conflict with Twig default filter"
TwigView 4.3.4

I want to use Twig's [format](https://twig.symfony.com/doc/1.x/filters/format.html) filter.

[code]

But, using this plugin will cause `Cake\I18n\Number::format()` to be called.

Is there a good way to call Twig's `format`?

[2018-05-30 10:32] nojimage commented on #87
In TwigView 4.1, I was able to call Twig's `format`.

[2018-05-30 10:47] nojimage commented on #87
hmm, I found this commit. https://github.com/WyriHaximus/TwigView/commit/f9be3b19c63ad1cf8bbf43ce39278e2d81ab4ba3
Before this commit, the Number extension was not enabled, Twig's `format` filter could be called.

[2018-06-08 06:10] WyriHaximus commented on #87
Good catch, feel like up to creating a PR to change `format` to `number_format` at https://github.com/WyriHaximus/TwigView/blob/4.x/src/Lib/Twig/Extension/Number.php#L31 ?

[2018-06-22 10:35] WyriHaximus opened #88 "Roadmap v5.0"
Todo:
- [x] Twig 3.0
- [x] Bump minimum PHP version to `7.1`
- [x] Merge in all changes from the `4.x` branch
- [x] Clean up and reorganize filters and functions

Research:
- [X] Disable autoescaping for functions and filters so `|raw` everywhere isn't required (via @markstory)

[2018-06-22 12:04] inoas commented on #88
Targeting CakePHP 4.0 (or 3.7) only?

[2018-06-22 12:06] WyriHaximus commented on #88
Probably CakePHP 4.0, but if 3.7 isn't to much of an hassle that would be awesome. The thing is I would prefer to support the same minimum PHP version as CakePHP 4.0 with this 5.0 release.

[2018-07-03 15:48] WyriHaximus commented on #87
A new version has been tagged: https://github.com/WyriHaximus/TwigView/releases/tag/4.3.5

[2018-07-03 15:48] #87 closed

[2018-07-09 14:55] WyriHaximus commented on #88
@ADmad && @markstory Any things on cake's wishlist for 5.0 (targeting cakephp 4.0)?

[2018-07-10 01:37] markstory commented on #88
I would love to help find a way to not need `|raw` all over the place. I find it noisy and trains people to use `|raw` which can be dangerous.

[2018-07-17 15:17] WyriHaximus commented on #88
@markstory looking into how to sanely do that :+1:

[2018-07-24 21:45] ADmad commented on #88
Just skimming through twig docs I couldn't find a way to tell twig to disable escape for specific vars used in `{{ }}`.

So avoiding the need for using `|raw` would probably require registering new tag for helpers as it's done for cells and element. Usage would be like `{% helper 'Foo.method' %}`. This would make the usage a bit more verbose but on the flip side it would provide the benefit of bei

[2018-07-25 14:51] WyriHaximus commented on #88
There might be something deeper in the API to do this, not entirely sure.

Like the idea, not 100% sold on the syntax but I'll get an experiment on this weekend to implement it and see where we can take it from there :+1: .

[2018-07-26 01:45] markstory commented on #88
@ADmad TwigView could use reflection to generate twig functions for all defined helper methods. Twig functions can indicate that they are escapers. This would add a bit of overhead but could be something that is 'compiled' or cached.

[2018-07-26 06:34] ADmad commented on #88
@markstory Yeah using reflection in `TwigView` is an option but I would prefer if the additional work could be done through Twig itself instead of adding reflection in our view class.

On a related note could be shorten the tag for `element` to `elem`? :)

[2018-07-26 07:10] ADmad commented on #88
Having helpers as regular variables also has the drawback that if someone doesn't follow conventions and for e.g. sets a view vars named `Html`, the variable will be overwritten by helper instance.

[2018-07-26 08:46] WyriHaximus commented on #88
Sure, could probably do both 😜

[2018-07-30 20:11] WyriHaximus commented on #88
@ADmad just been digging around and found this: https://twig.symfony.com/doc/2.x/advanced.html#automatic-escaping
We could/should select specific functions and filters that will be safe to be output rawly into the resulting template

[2018-07-30 20:13] markstory commented on #88
@WyriHaximus Yes, that would be really useful on Helper proxy functions.

[2018-07-30 20:37] WyriHaximus commented on #88
Merging `4.x` in `master` now:

![image](https://user-images.githubusercontent.com/147145/43422122-0ede260c-9449-11e8-82f0-b07e40643219.png)

Will keep you updated, and tag you in relevant PR's for the extra tags and escaping

[2018-09-29 13:03] ADmad commented on #88
I was looking into updating `master` to run with CakePHP 4 and got stuck. There's a bit of chicken and egg problem as Bake requires TwigView and TwigView itself has Bake as `required-dev` :slightly_smiling_face:

I tried to work on TwigView first ignoring the Bake dependency but the 1st blocker is the `api-clients/test-utilities`.  Cake 4 requires PHP 7.1+ and phpunit 7.0+ but there's no version o

[2018-09-29 14:41] ADmad commented on #88
As always "When it's ready" :)

[2018-09-29 19:44] WyriHaximus commented on #88
Cool, the underlying question was: How fast does this needs to be done. But I'll get onto some stuff after my Honeymoon and dedicate some days to straightening things out and get them CakePHP 4 ready :+1: .

[2018-09-30 17:12] ADmad commented on #88
No worries. Congrats on your wedding and enjoy your honeymoon :slightly_smiling_face:

[2018-09-30 18:05] WyriHaximus commented on #88
Thank you, enjoying it a lot :sunglasses: !

[2018-12-03 11:15] dereuromark opened #94 "mb_convert_encoding(): Illegal character encoding specified"
When trying to use TwigView rendering, I got

in vendor/twig/twig/lib/Twig/Extension/Core.php:1137

Any idea what this is? It is a basic ascii template with simple variables.
[code]

[2018-12-04 20:30] WyriHaximus commented on #94
Sorry for the late response my github box got swamped due to automated dependency bumping. So are you using this for CakePHP 3 or the upcoming for 4? (Should fix it in both tbh.)

[2018-12-04 21:14] dereuromark commented on #94
cake3

[2018-12-05 00:15] dereuromark opened #95 "add missing inflectors"
the newer ones seem missing as filter:

- `dasherize` maps to `Cake\Utility\Inflector::dasherize()`
- slug should be Text:slug() as Inflector::slug() is deprecated

also:

- autoParagraph => TextHelper::autoParagraph()
- autoLinkUrls => TextHelper::autoLinkUrls()

[2018-12-05 19:53] WyriHaximus commented on #95
Will add those through a PR, or are you already working on it?

Sounds like a good target to fix in the release for cake4

[2018-12-05 19:54] WyriHaximus commented on #94
Cheers, looking into it tonight

[2018-12-05 20:37] dereuromark commented on #95
Nah, I am busy otherwise. Thanks for looking into it.

[2018-12-06 18:52] WyriHaximus commented on #95
No problem working on it now.

These are interesting, been mainly using utility classes for things like this but these are actually inside a helper. The Helper element I'm working on should help with these two:

[2018-12-06 19:02] WyriHaximus commented on #95
Methods look rather different, is the outcome always the same regardless of which I use?

[2018-12-06 19:04] ADmad commented on #95
For most practical uses cases it's the same.

[2018-12-06 19:04] dereuromark commented on #95
I tested it and it looked quite similar in my cases, but if we want to make sure for all cases, maybe we should one and deprecate the other.

[2018-12-06 19:08] WyriHaximus commented on #95
Was expecting `Inflector::slug()` to use `Text::slug()` internally due to the deprecation

[2018-12-08 17:06] dereuromark commented on #94
You can easily reproduce it by commenting out `'encoding' => 'utf-8',`
https://github.com/dereuromark/cakephp-dto/blob/master/tests/bootstrap.php#L32
and running the tests on that plugin.

[2018-12-10 20:55] WyriHaximus commented on #95
Ok `4.3.6` has been released with the dasherize + @ADmad deprication notice bug fix.

[2018-12-11 20:39] ericlacasse-cofomo opened #100 "Deprecation error while running cake bake"
While running any `cake` command in command line, we get the following error message.

I know that the issue is fixed in this commit (https://github.com/WyriHaximus/TwigView/commit/8b0e05b7b8042b5a9d870a4d9435674d918cceb3), but can you tell me when a new release with this commit would be released? This is the last thing holding back our migration to CakePHP 3.7.0. We can always run the patch manua

[2018-12-11 21:10] WyriHaximus commented on #100
Just tagged [`v4.3.7`](https://github.com/WyriHaximus/TwigView/releases/tag/4.3.7) with this fix :+1: .

[2018-12-11 21:10] #100 closed

[2018-12-17 18:02] WyriHaximus commented on #94
@dereuromark sorry for the delay #101 is up to fix this

[2018-12-17 18:15] #94 closed

[2018-12-17 21:15] WyriHaximus commented on #94
Tagged `4.3.8` with #101

[2019-03-23 17:47] dependabot[bot] opened #146 "Dependabot can't resolve your PHP dependency files"
Dependabot can't resolve your PHP dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-03-23 18:57] WyriHaximus commented on #146
@dependabot FYI packagist has been doing infra upgrades: https://twitter.com/packagist/status/1109483375780352002

[2019-03-23 18:57] #146 closed

[2019-03-23 22:07] greysteil commented on #146
That does look very much like the cause - thanks @WyriHaximus!

[2019-05-03 14:01] JeremyWinalist opened #161 "Deprecations warnings"
Hi, I have deprecations warnings that I can't find.
I've scanned my project using PhpStorm to find deprecation usages without success.
Is TwigView plugin up to date with CakePhp deprecations ?

Thanks.

[code]

[2019-05-06 10:51] JeremyWinalist commented on #161
Anyone else with this issue ?

[2019-05-06 19:46] WyriHaximus commented on #161
Hey @JeremyWinalist this plugin doesn't use any of those methods. It's more likely that those methods are called within a template somewhere as all errors origin from within Twig it self.

[2019-05-07 07:54] JeremyWinalist commented on #161
Hey @WyriHaximus thanks for your answer that's right.

For anyone having same problem, I replaced this:
`'?' : {'redirect' : _view.request.query['redirect']}`
By this:
`'?' : {'redirect' : _view.request.getQuery('redirect')}`

[2019-05-07 07:54] #161 closed

[2019-05-07 19:28] WyriHaximus commented on #161
Glad to hear this has been resolved :+1:

[2019-06-29 23:00] FinlayDaG33k commented on #88
I've been taking a look at this repo lately because we are considering to implement this in our project, however, I feel like it's "odd" to have to rename all the `.ctp` files to `.twig` files to use TwigView.
I wonder if it would be possible to use the regular `.ctp` files instead?

[2019-06-30 04:43] ADmad commented on #88
@FinlayDaG33k "regular" .ctp files contain PHP code :). Why would you unnecessarily confuse anyone dev joining your project by using .ctp extension instead of the default .twig for Twig files?

[2019-06-30 07:39] WyriHaximus commented on #88
It's not only that, `TwigView` will fallback to `.ctp` files if it can't find the matching `.twig` file. So both formats are supported and you can iterate your way into support it file by file. There are  also some IDE benefits such as PHPStorm picking up it's a twig file without having to configure that.

[2019-06-30 09:46] FinlayDaG33k commented on #88
Well, to me, it feels more confusing that everything is `.ctp` and then suddenly there are some `.twig` files hanging around.

Ah I see.
This wasn't in the documentation, I'll add that in a bit :)

[2019-06-30 11:07] WyriHaximus commented on #88
Cool :+1: !

[2019-08-02 05:33] pokballs opened #187 "Using include function"
I've tried to use `{{ include('template.html') }}` but am getting **Template "template.html" is not defined.**
Is there a way to get the include function to work?

[2019-08-02 05:48] pokballs commented on #187
Never mind, should be using element

[2019-08-02 05:48] #187 closed

[2019-10-01 12:35] lemonCMS commented on #17
Could this solution please be added to the readme, we were busy for hours trying to figure this out.

Thanks in advance.

[2019-10-01 13:40] WyriHaximus commented on #17
Feel free to open a PR adding that to the readme @lemonCMS 👍

[2019-12-06 01:18] othercorey opened #219 "Update composer.json to allow twig 3.0"
With twig 3.0 out, can you update the composer.json dependency to allow it? This is for dev-master with cakephp 4.0.

`^2.4.3|^3.0`

https://packagist.org/packages/twig/twig#v3.0.0

Unless you're using the non-namespaced classes, I don't think there will be an issue.

https://symfony.com/blog/preparing-your-applications-for-twig-3

[2019-12-06 01:30] othercorey commented on #219
Looks like twig-extensions needs a branch for twig 3.0 support as they have 1.x support in the master branch still.

https://github.com/jasny/twig-extensions

[2019-12-10 19:30] ADmad commented on #219
`jasny/twig-extensions` now have v1.3 released which supports Twig 3, we can now move ahead with updating the twig version constraint for TwigView.

[2019-12-10 19:49] ADmad commented on #219
The other two dependencies `aptoma/twig-markdown` and `asm89/twig-cache-extension` will also need a new releases :/

[2019-12-10 20:04] ADmad commented on #219
https://github.com/aptoma/twig-markdown/pull/34

[2019-12-10 20:11] ADmad commented on #219
There seems to be an official markdown plugin too https://github.com/twigphp/markdown-extra, so perhaps `aptoma/twig-markdown` should be replaced with that?

`asm89/twig-cache-extension` also seems to be unmaintained. It was meant to be replaced by https://github.com/twigphp/twig-cache-extension but even that doesn't have any activity and no releases.

[2019-12-10 21:20] othercorey commented on #219
I'm using the markdown-extra package with twig 3.

[2019-12-12 07:51] WyriHaximus commented on #219
Any objections against going 3.0 only?

[2019-12-12 08:42] ADmad commented on #219
None from me. Twig 3 requires 7.2+ which is inline with Cake 4.

[2019-12-15 20:29] ADmad commented on #219
@WyriHaximus Is the `asm89/twig-cache-extension` dependency essential for TwigView's working? Cause I don't see it getting updated to support Twig 3 anytime soon.

[2019-12-16 15:01] ADmad commented on #219
Unless someone has the time and motivation to get `asm89/twig-cache-extension` or `twigphp/twig-cache-extension` to do a Twig 3 compatible release the best course of action right now would be simply replace `aptoma/twig-markdown` with `twigphp/markdown-extra` and release TwigView 5 without support for Twig 3.

Currently Bake 2.0.0 had to be tagged with while using `dev-master` of this plugin which

[2019-12-16 15:13] WyriHaximus commented on #219
@ADmad planned to do it today after dinner :). And no we don't need the cache extensions to work.

[2019-12-16 15:14] ADmad commented on #219
@WyriHaximus Great to hear.

[2019-12-16 16:40] WyriHaximus commented on #219
WIP PR: https://github.com/WyriHaximus/TwigView/pull/224

[2019-12-17 01:17] dependabot-preview[bot] opened #225 "Dependabot couldn't fetch the branch/reference for cakephp/cakephp-codesniffer"
Your dependency file specified a branch or reference for `cakephp/cakephp-codesniffer`, but Dependabot couldn't find it at the project's source. Has it been removed?

[View the update logs](https://app.dependabot.com/accounts/WyriHaximus/update-logs/17919077).

[2019-12-17 07:59] WyriHaximus commented on #219
@ADmad locally all tests are passing, only need to get the markdown plugin in

[2019-12-19 01:28] #225 closed

[2019-12-19 16:04] TechFanDan opened #228 "Unknown "getVars" function"
When I attempt to run `{% do getVars()|debug %}` in my twig file, I get the following error:

`entity.twig`

Line 17: {% do getVars()|debug %}

Here is the full trace:

[code]

[2019-12-19 16:27] WyriHaximus commented on #228
Did you add `getVars` through an extension? as Twig is only aware of functions you tell it about.

[2019-12-19 17:19] TechFanDan commented on #228
As I'm unfamiliar with what you are proposing, I'm going to have to say no :)

ATM, I'm simply trying to modify my bake templates. I'm attempting to use available variables to accomplish this. The getVars was supposed to tell me what is available and to see what else I needed.

[2019-12-19 17:26] ndm2 commented on #228
`getVars()` is a function provided by https://github.com/WyriHaximus/TwigView/blob/a5ec66690aa045d6eda17ab1c8a5baf0efdcfa45/src/Lib/Twig/Extension/View.php#L51-L53

but the extension is missing in https://github.com/WyriHaximus/TwigView/blob/a5ec66690aa045d6eda17ab1c8a5baf0efdcfa45/src/Event/ExtensionsListener.php#L64-L73

[2019-12-19 19:42] TechFanDan commented on #228
FWIW, I attempted to load the missing extension View. However, it seems the constructor requires a CakeView parameter which is missing and throwing an error.

[2019-12-19 20:01] ndm2 commented on #228
[code]

[2019-12-19 20:36] TechFanDan commented on #228
That works, no more errors. From the variables listed, I'm not seeing what I need. That's for another day :)

[2019-12-27 19:13] dereuromark commented on #88
the files should be whatever they are. so if those are twig templates, then the file extension should be .twig.
this also makes it able to leverage IDEs here to introspect them more easily.

As for the new Cake4 release, any plans on releasing a beta already or sth?
https://github.com/cakephp/bake/blob/master/composer.json#L24

    "wyrihaximus/twig-view": "dev-master"

this is blocking other plug

[2019-12-27 19:16] dereuromark commented on #88
PS: Once you got a beta tag out, like the other plugins now, you can add the strawberry: https://github.com/FriendsOfCake/awesome-cakephp/pull/334 :)

[2019-12-27 19:31] WyriHaximus commented on #88
@dereuromark Hopefully this weekend. Will let you know once the tag is out

[2019-12-30 09:37] WyriHaximus commented on #88
[`5.0`](https://github.com/WyriHaximus/TwigView/releases/tag/5.0.0) is out :tada:

[2019-12-30 09:37] #88 closed

[2019-12-30 09:37] WyriHaximus commented on #219
[`5.0`](https://github.com/WyriHaximus/TwigView/releases/tag/5.0.0) is out :tada:

[2019-12-30 09:37] #219 closed

[2019-12-30 11:30] WyriHaximus opened #234 "Add missing tests for #233"

[2020-02-27 10:44] vuongmao opened #248 "Call to a member function loadTemplate() on null"
I'm using `CakePHP3` with `TwigView`. However, I can not load any page on my application. I get the following error at the `src/View/TwigView.php` file. What am I doing wrong?

*I can not use `.twig` and `.tpl` extensions too.*

The routing configuration:

    Router::scope('/', function (RouteBuilder $routes) {
        $routes->connect(
          '/',
          ['controller' => 'Man', 'action' =>

[2020-02-28 01:43] vuongmao commented on #248
Oh that's lag knowledge

I fixed it by update the following function

. Adding the `parent::initialize();`

[code]

[2020-02-28 01:50] #248 closed

[2020-02-28 14:09] #3 closed

[2020-02-28 14:09] #4 closed

[2020-02-28 14:09] #5 closed

[2020-02-28 14:09] #6 closed

[2020-02-28 14:40] batopa opened #249 "Disable Twig cache in debug mode"
When CakePHP is in debug mode i.e. `Configure::read('debug') === true` the Twig cache should be disabled I think.

At the moment the cache is active by default and every time I edit a twig file then I need to cleanup the cache to see the changes.

[2020-02-28 14:40] #20 closed

[2020-02-28 14:41] #85 closed

[2020-02-28 14:44] #24 closed

[2020-02-28 14:50] #95 closed

[2020-02-28 14:51] #59 closed

[2020-02-29 03:36] #228 closed

[2020-02-29 04:24] #27 closed

[2020-02-29 04:25] #49 closed

[2020-02-29 04:28] #73 closed

[2020-02-29 09:21] othercorey commented on #234
Linking https://github.com/cakephp/TwigView/pull/233

[2020-02-29 09:38] othercorey opened #252 "Align travis and composer scripts with cakephp"
This is part of the transition to cakephp org for easier maintenance.

[2020-02-29 09:39] othercorey opened #253 "Move to cakephp namespace with backwards compatible alias"
This is part of the transition to cakephp org for easier maintenance.

[2020-02-29 09:41] othercorey opened #254 "Align phpcs settings"
This is part of the transition to cakephp org for easier maintenance.

[2020-02-29 09:42] othercorey opened #255 "Align code coverage with cakephp"
This is part of the transition to cakephp org for easier maintenance.

[2020-02-29 19:25] othercorey commented on #254
https://github.com/cakephp/twig-view/pull/257

[2020-02-29 19:25] #254 closed

[2020-02-29 19:25] ADmad opened #259 "Convert CompileShell to command"

[2020-02-29 22:16] #249 closed

[2020-03-01 17:35] #253 closed

[2020-03-05 08:23] #252 closed

[2020-03-05 18:34] #255 closed

[2020-08-19 16:07] peter279k opened #271 "The unit tests will be failed on CakePHP 4.1.x version"
# Reproducing issues

- Firstly, using `git clone` command to clone this repository.
- Using the `composer` command with `php-7.2+` version to install dependencies.
- Using the `composer show | grep cakephp` command to check related CakePHP dependencies:

[code]

- Run `vendor/bin/phpunit` command to run unit tests.

## Expected

- There's no error output during above PHPUnit command running.

##

[2020-08-19 16:28] othercorey commented on #271
I think we can just remove the unit test. Users will require the newer twig-view package if using newer bake. This won't matter that much.

[2020-08-19 16:33] peter279k commented on #271
Hi @othercorey, thanks for your rpely and suggestion.

I've updated for the PR and remove `testFilterDebug` unit test.

Please review PR, thanks :).

[2020-08-19 17:30] #271 closed